In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('UCI_Credit_Card.csv')

In [3]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [4]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [5]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [6]:
df.shape

(30000, 25)

In [7]:
df.describe

<bound method NDFrame.describe of           ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0          1    20000.0    2  ...       0.0       0.0                           1
1          2   120000.0    2  ...       0.0    2000.0                           1
2          3    90000.0    2  ...    1000.0    5000.0                           0
3          4    50000.0    2  ...    1069.0    1000.0                           0
4          5    50000.0    1  ...     689.0     679.0                           0
...      ...        ...  ...  ...       ...       ...                         ...
29995  29996   220000.0    1  ...    5000.0    1000.0                           0
29996  29997   150000.0    1  ...       0.0       0.0                           0
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[30000 rows x 25 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null float64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null float64
BILL_AMT2                     30000 non-null float64
BILL_AMT3                     30000 non-null float64
BILL_AMT4                     30000 non-null float64
BILL_AMT5                     30000 non-null float64
BILL_AMT6                     30000 non-null float64
PAY_AMT1                      30000 non-null float64
PAY_AMT2                      30000 non-null float64
PAY_AMT3                      30000 non-null float64
PAY_AMT4                      30000 non-null float64
PAY_AMT5                      30000 non-null float64
PAY_AMT6                      30000 non-null float64
default.payment.next.month    30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [9]:
df["EDUCATION"].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [10]:
df['MARRIAGE'].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [0]:
df.query('MARRIAGE!=0', inplace=True)
df.query('EDUCATION!=0', inplace=True)

In [12]:
df.shape

(29932, 25)

In [0]:
from sklearn.preprocessing import OneHotEncoder

In [0]:
enc= OneHotEncoder()

In [16]:
cat = enc.fit_transform(df[["SEX", "MARRIAGE", "EDUCATION"]])

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [0]:
onehot = pd.DataFrame(cat.toarray())

In [0]:
onehot.columns = ["Male", "Female", "GraduateSchool", "University", "HighSchool", "OtherSchool", "Unknown", "Unknown", "Married", "Single", "Other"]

In [19]:
onehot

       Male  Female  GraduateSchool  ...  Married  Single  Other
0       0.0     1.0             1.0  ...      0.0     0.0    0.0
1       0.0     1.0             0.0  ...      0.0     0.0    0.0
2       0.0     1.0             0.0  ...      0.0     0.0    0.0
3       0.0     1.0             1.0  ...      0.0     0.0    0.0
4       1.0     0.0             1.0  ...      0.0     0.0    0.0
...     ...     ...             ...  ...      ...     ...    ...
29927   1.0     0.0             1.0  ...      0.0     0.0    0.0
29928   1.0     0.0             0.0  ...      0.0     0.0    0.0
29929   1.0     0.0             0.0  ...      0.0     0.0    0.0
29930   1.0     0.0             1.0  ...      0.0     0.0    0.0
29931   1.0     0.0             1.0  ...      0.0     0.0    0.0

[29932 rows x 11 columns]

In [0]:
df.reset_index(inplace = True)
df1 = pd.concat([df,onehot], axis=1)
df1 = df1.drop(["SEX", "MARRIAGE", "EDUCATION"], axis=1)

In [21]:
df1.isnull().sum()

index                         0
ID                            0
LIMIT_BAL                     0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
Male                          0
Female                        0
GraduateSchool                0
University                    0
HighSchool                    0
OtherSchool                   0
Unknown                       0
Unknown                       0
Married                       0
Single                        0
Other                         0
dtype: int64

In [22]:
df1.columns

Index(['index', 'ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default.payment.next.month',
       'Male', 'Female', 'GraduateSchool', 'University', 'HighSchool',
       'OtherSchool', 'Unknown', 'Unknown', 'Married', 'Single', 'Other'],
      dtype='object')

In [0]:
df_numerical = df1[['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]

In [0]:
df_categorical = df1[['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5','PAY_6', 'default.payment.next.month', 'Male', 'Female', 'Married', 'Single', 'Other', 'GraduateSchool', 'University', 'HighSchool', 'OtherSchool']]

In [0]:
from sklearn.preprocessing import StandardScaler

In [26]:
scaler = StandardScaler()
cols = df_numerical.columns
df_numerical = scaler.fit_transform(df_numerical)
df_numerical = pd.DataFrame(df_numerical, columns = cols)
df_numerical.head()

   LIMIT_BAL       AGE  BILL_AMT1  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6
0  -1.136377 -1.245239  -0.642995  ... -0.308036 -0.314197 -0.293448
1  -0.366074 -1.028293  -0.659699  ... -0.244263 -0.314197 -0.181057
2  -0.597165 -0.160510  -0.299327  ... -0.244263 -0.248811 -0.012470
3  -0.905286  0.164909  -0.058450  ... -0.237885 -0.244299 -0.237253
4  -0.905286  2.334368  -0.579163  ...  0.265922 -0.269146 -0.255291

[5 rows x 14 columns]

In [0]:
df = pd.concat([df_numerical, df_categorical], axis=1)

In [28]:
df.shape

(29932, 30)

In [29]:
df.head()

   LIMIT_BAL       AGE  BILL_AMT1  ...  University  HighSchool  OtherSchool
0  -1.136377 -1.245239  -0.642995  ...         0.0         0.0          0.0
1  -0.366074 -1.028293  -0.659699  ...         1.0         0.0          0.0
2  -0.597165 -0.160510  -0.299327  ...         1.0         0.0          0.0
3  -0.905286  0.164909  -0.058450  ...         0.0         0.0          0.0
4  -0.905286  2.334368  -0.579163  ...         0.0         0.0          0.0

[5 rows x 30 columns]

In [0]:
df=df.dropna()

In [0]:
from sklearn.model_selection import train_test_split as tts

In [0]:
x=df['default.payment.next.month']
y=df.drop(["default.payment.next.month"],axis=1)

In [0]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.3,random_state=42)

In [34]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [35]:
classifier = Sequential()

classifier.add(Dense(units = 16, activation = 'relu', input_dim = 29))

classifier.add(Dense(units = 16, activation = 'relu'))

classifier.add(Dense(units = 1, activation = 'sigmoid'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.fit(X_train, y_train, batch_size = 10, epochs = 30)

In [0]:
y_pred = classifier.predict(x_test)

In [0]:
for i in range(len(y_pred)):
    if y_pred[i] < 0.5:
        y_pred_new.append(0)
    else:
        y_pred_new.append(1)